@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, */
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  left: inherit !important;
  right: 1.75rem !important;
  transform-origin: right !important;
  text-align: right !important;
}

/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  left: 0 !important;
  top: 0 !important;
  transform-origin: top right !important;
} */
